/* =====================
   VARIÁVEIS
===================== */
:root {
  --cor-fundo: #F2F3F7;
  --cor-texto: #1F2937;
}

/* =====================
   RESET BÁSICO
===================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background: var(--cor-fundo);
  color: var(--cor-texto);
}

button,
.categoria,
.produtos,
#menu button {
  -webkit-tap-highlight-color: transparent;
}

/* =====================
   ESTRUTURA BASE
===================== */
main {
  position: relative;
  overflow: hidden;
}

/* =====================
   TELAS (SLIDE)
===================== */
.tela {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--cor-fundo);
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  transform: translateX(100%);
  transition: transform 0.5s ease;
}

.tela.ativa {
      background-color: var(--cor-fundo);

  transform: translateX(0);
  z-index: 1000;
}

/* =====================
   HOME
===================== */
#home {
      flex-direction: column;
      gap: 20px;
}
#home .modo {
   align-self: flex-start;
  margin: 15px;
  padding: 10px;
  align-items: center;
  width: 40px;
  font-size: 1.5rem;
  border: none;
  border-radius: 8px;
  background-color: var(--cor-fundo);
    box-shadow: 0 4px 20px var(--cor-borda);
  cursor: pointer;
}
#home .entrada {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  border-radius: 12px;
       background-color: var(--cor-fundo);
  box-shadow: 0 4px 20px var(--cor-borda);
  text-align: center;
}

#home .entrada img {
  width: 180px;
  height: 180px;
  border-radius: 12px;
  object-fit: cover;
}

#home h1 {
  font-size: 2rem;
  color: var(--cor-primaria);
}

#home p {
  font-size: 1.1rem;
  color: #555;
}

#entrar {
  padding: 12px 25px;
  font-size: 1rem;
  border-radius: 8px;
  background-color: var(--cor-primaria);
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

#entrar:hover {
  background-color: var(--cor-borda);
}

/* =====================
   CATEGORIAS
===================== */
.categorias-topo {
  background-color: var(--cor-primaria);
  padding: 30px 20px 70px;
  position: relative;
  width: 100%;
  overflow: hidden;
  min-height: 120px;
}

.categorias-topo::after {
  content: "";
  position: absolute;
  bottom: -80px;
  left: -25%;
  width: 150%;
  height: 120px;
  background-color: var(--cor-fundo);
  border-radius: 100% 30% 0 0;
}

.categorias-topo input {
  width: 100%;
  padding: 14px 18px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: #fff;
  color: var(--cor-texto);
  position: relative;
  z-index: 2;
}

.categorias-container {
  display: flex;
  flex-wrap: nowrap;
  gap: 15px;
  padding: 20px;
  overflow-x: auto;
}

.categoria {
  flex: 0 0 auto;
  width: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--cor-fundo);
   border: 0.1px solid var(--cor-borda);
  border-radius: 12px;
  padding: 10px;
  cursor: pointer;
  overflow: hidden;
  gap: 6px;
    box-shadow: 1px 1px 1px var(--cor-borda);
  transition: transform 0.3s, box-shadow 0.3s;
}

.categoria:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px var(--cor-borda);
}

.categoria img {
  height: 80px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
  margin-top: -6px;
}
.categoria h2 {
  font-size: 1.3rem;
  font-family: Times New Roman;
  font-weight: bold;
}

.lista-categorias {
  display: flex;
  gap: 12px;
  overflow-x: auto;
  padding: 10px;
}

.titulo-secao {
  font-size: 1rem;
  font-weight: bold;
  margin: 0.3rem;
  font-family: Georgia, serif;
  color: var(--cor-primaria);
}

/* =====================
   LISTA DE PRODUTOS
===================== */
.lista-produtos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  padding-bottom: 10rem;
}

#lista-produtos {
    margin: 1rem;
  max-height: 47vh;
  overflow: auto;
  padding-bottom: 20rem;
}

/* =====================
   PRODUTO (TELA)
===================== */
.produto {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: var(--cor-fundo);
  display: none;
  flex-direction: column;
}

.produto.ativa {
  display: block;
  z-index: 1000;
}

.fechar {
  align-self: flex-start;
  margin: 15px;
  padding: 5px;
  width: 40px;
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  background-color: var(--cor-primaria);
  color: #fff;
  cursor: pointer;
}

.produto-wrapper {
  flex: 1;
  padding: 20px;
  padding-bottom: 10rem;
  height: 90vh;
  overflow-y: auto;
}

.container-produto {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 15px;
}

.produtos {
         background-color: var(--cor-fundo);
  border-radius: 12px;
 box-shadow: 1px 1px 1px 1px var(--cor-borda);
    color: var(--cor-texto);
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s;
}

.produtos:hover {
  transform: translateY(-5px);
}

.produtos img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.produtos .conteudo {
    
  padding: 20px;
}

.produtos h2 {
    margin: 5px;
  font-size: 1rem;

    color: var(--cor-texto);
}

/* =====================
   DETALHE DO PRODUTO
===================== */
.input-busca-produto {
  width: 90%;
  padding: 10px;
  margin: 10px auto;
  display: block;
  border: 1px solid var(--cor-primaria);
  border-radius: 8px;
  outline: none;
}

#categorias {
  flex-direction: column;
  align-items: stretch;
  gap: 30px;
  justify-content: flex-start;
  overflow-y: auto;
}

#detalhe-produto {
  position: fixed;
  bottom: -100%;
  width: 100%;
  max-height: 80vh;
 background-color: var(--cor-fundo);
  border-radius: 16px 16px 0 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  transition: bottom 0.3s;
}

#detalhe-produto.ativa {
  bottom: 0;
}

#detalhe-produto img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 10px;
}

#detalhe-produto h2 {
  color: var(--cor-primaria);
  font-size: 1.4rem;
  margin-bottom: 5px;
}

#detalhe-produto p {
  font-size: 1rem;
  margin-bottom: 10px;
  text-align: center;
}

#detalhe-produto .alinar {
    color: var(--cor-fundo);
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}

.calcular {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: var(--cor-primaria);
   color: var(--cor-texto);
  font-size: 1.2rem;
  cursor: pointer;
}

.Adicio {
  padding: 15px 25px;
  border: none;
  border-radius: 8px;
  background-color: var(--cor-primaria);
    color: var(--cor-texto);
  font-weight: bold;
  cursor: pointer;
  width: 100%;
}

/* =====================
   CARRINHO
===================== */

#carrinho.tela{
    align-items: flex-start;
}
#carrinho .organiza {
    width: 100%;
  padding: 20px;
    height: 65vh;
    margin-bottom: 20px;


}

.carrinho-de-produtos {
  width: 100%;
  height: 50vh;
  overflow-y: auto;
      margin-bottom: 20px;

}
.carrinho-de-produtos li #nomep {
    font-weight: bold;
    font-size: 1rem;
}
.carrinho-de-produtos li {
    width: 100%;
  display: flex;
  color: var(--cor-texto);
  justify-content: space-between;
  align-items: center;
  padding: 12px;
        background-color: var(--cor-fundo);
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0 4px var(--cor-borda);
}
.carrinho-de-produtos li .var{
    border: 1px solid var(--cor-borda);
    gap: 50px;
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 1.1rem;
}

#enviar-whatsapp {
  padding: 20px 25px;
  border: none;
  border-radius: 8px;
  background-color: var(--cor-primaria);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
}
#totalgeral {
    margin: 5px;
    font-size: 1.3rem;
    font-weight: bold;
    color: red;
}

/* =====================
   MENU FIXO
===================== */
#menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background: var(--cor-fundo);
  box-shadow: 0 -2px 5px var(--cor-borda);
  z-index: 1000;
  padding: 10px 0;
}

#menu button {
  border: none;
  background: none;
  font-weight: bold;
  cursor: pointer;
  font-size: 0.9rem;
  color: var(--cor-primaria);
  padding: 10px 18px;
  border-radius: 999px;
  box-shadow: 0 6px 16px rgba(0,0,0,.18);
}

#menu button:hover {
  color: var(--cor-texto);
}